body {
	background: url(http://subtlepatterns.com/patterns/light_noise_diagonal.png);
	font: 120pt Arial, Tahoma;
}

#wrapper{
	-webkit-prespective: 900px;
	margin: 180px;
	
}

#cube{
	position: relative;
	width: 300px;
	height: 300px;
	-webkit-transform-origin: 50% 50% -150px;
	-webkit-transform-style: preserve-3d;
}

.side {
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,.3);
	background: -webkit-radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.4));
	position: absolute;
	border: 10px solid #fff;
	border-radius: 10px;
	color: #fff;
	font-size: 82pt;
	line-height: 300px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	 -webkit-transform-origin: 50% 50% -150px;
}

#side2 {
	-webkit-transform: rotateY(90deg);
}
#side3 {
	-webkit-transform: rotateY(-90deg);
}
#side4 {
	-webkit-transform: rotateX(90deg);
}
#side5 {
	-webkit-transform: rotateX(-90deg);
}
#side6 {
	-webkit-transform: rotateY(180deg);
}
